@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    overflow-x: hidden;
}

:root{
    --indigo-dye: #08415C;
    --parsian-red : #CC3333;
	/* -------------- */
    --pakistan-green: #143109;
    --sage : #ABAF83;
	/* -------------- */
    --russian-violet: #482358;
    --sagee : #CDC392;
	/* -------------- */
    --dim-gray: #707070;
    --mint_cream : #EAF2EF;
}

.bg-container{
	/* background-color: var(--indigo-dye); */
	/* background-color: var(--pakistan-green); */
	/* background-color: var(--russian-violet); */
	background-color: var(--mint_cream);
}

.bg-box{
	/* background-color: var(--parsian-red); */
	/* background-color: var(--sage); */
	/* background-color: var(--sagee); */
	background-color: var(--dim-gray);
}
