@import "tailwindcss";
/* #9D00FF */
/* C20A0A */
body {
    background-color: #0D0D0D; /* 3f3f46 */
    color: white;
}

* {
    box-sizing: border-box;
}

.scroll-down {
    width: 34px;
    height: 55px;
}

.scroll-down  .mousey {
    width: 3px;
    height: 35px;
    padding: 10px 15px;
    box-sizing: content-box;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
}

@media screen and (max-width: 600px) {
  .scroll-down {
    width: 34px;
    height: 35px;
  }
  .scroll-down  .mousey {
    width: 3px;
    height: 25px;
    padding: 5px 10px;
    box-sizing: content-box;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
  }
}

.scroll-down  .mousey .scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation: scroll 1.5s cubic-bezier(0.15, 0.41, 0.69, 0.94) infinite;
}
  
@keyframes scroll {
    0% {
      opacity: 0;
    }
    10% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(15px);
      opacity: 0;
    }
}

.img-buffer {
  background: url(./assets/s-l400.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgb(194 10 10 / 70%);
  order: 1;
  justify-self: center;
  animation: animationProfile 6s ease-in-out infinite 0s;
  margin: 0px auto 40px;
}

@keyframes animationProfile {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}


/* gradiant style */

.animated-gradient-text {
  position: relative;
  margin: 0 auto;
  display: flex;
  max-width: fit-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  font-weight: 500;
  backdrop-filter: blur(10px);
  transition: box-shadow 0.5s ease-out;
  overflow: hidden;
  cursor: pointer;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 300% 100%;
  animation: gradient linear infinite;
  border-radius: inherit;
  z-index: 0;
  pointer-events: none;
}

.gradient-overlay::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #060010;
  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.text-content {
  display: inline-block;
  position: relative;
  z-index: 2;
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient linear infinite;
}

/* // ================================== */

.project ul li:hover {
  background-image: linear-gradient(to right, #C20A0A, #FF6B6B, #FFD93D, #FF6B6B, #C20A0A);
  -moz-transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.project li {
  &:hover {
    & div {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
  }
}

.project li .img-cont {
  position: absolute;
  width: 700px;
  left: 40%;
  transform:  rotate(-6deg) scale(0.8);
  opacity: 0;
  transition: 0.6s;
  z-index: 1000;

  img {
    border: 1px solid var(--thirdcolore);
    width: 100%;
    border-radius: 15px;
  }
}

@media screen and (max-width: 600px) {
  .project li .img-cont {
    position: absolute;
    width: 250px;
    left: 30%;
    transform:  rotate(-6deg) scale(0.8);
    opacity: 0;
    transition: 0.6s;
    z-index: 1000;
  
    img {
      border: 1px solid var(--thirdcolore);
      width: 100%;
      border-radius: 15px;
    }
  }
}

@media screen and (max-width: 1024) {
  .project li .img-cont {
    position: absolute;
    width: 250px;
    left: 30%;
    transform:  rotate(-6deg) scale(0.8);
    opacity: 0;
    transition: 0.6s;
    z-index: 1000;
  
    img {
      border: 1px solid var(--thirdcolore);
      width: 100%;
      border-radius: 15px;
    }
  }
}

/* form */

.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  /* width:300px; */
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

textarea 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  /* width:300px; */
  border:none;
  border-bottom:1px solid #757575;
}
textarea:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#C20A0A;
}

textarea:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#C20A0A;
}


/* ghost */
.ss1{
  /* background: linear-gradient(
    to left,
    #3f3f46,
    transparent 100%
  ); */
}

.ghost-loader {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ghost-svg {
  width: 100%;
  height: 100%;
  overflow: visible !important;
  filter: drop-shadow(0 0 50px rgba(194, 10, 10, 1));
  animation: ghostFloat 3s ease-in-out infinite;
}

.ghost-body {
  fill: #C20A0A;
  opacity: 0.9;
}

.ghost-eye {
  fill: black;
  animation: eyePulse 2s ease-in-out infinite;
  transform-origin: center;
}

.left-eye {
  animation-delay: 0s;
}

.right-eye {
  animation-delay: 0.1s;
}

@keyframes ghostFloat {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
}

@keyframes eyePulse {
  0%,
  100% {
    transform: scale(1.7);
  }
  50% {
    transform: scale(2);
  }
}

/* Remove the old ghost-orb and ghost-trail styles */
.ghost-orb,
.ghost-trail {
  display: none;
}


/* ghost */
/* .ss1{
  background: linear-gradient(
    to left,
    #3f3f46,
    transparent 100%
  );
}
.ghost-loader {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform-origin: center;
  margin-left: -40px;
}

.ghost-eye {
  animation: blink 3s infinite;
}

.left-eye {
  animation-delay: 0.1s;
}

@keyframes blink {
  0%, 48%, 52%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.1);
  }
}

.ghost-svg {
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.5));
} */