
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    overflow-x: hidden;
	width: 100%;
	height: 100%;
}

:root{
    --indigo-dye: #08415C;
    --parsian-red : #CC3333;
	/* -------------- */
    --pakistan-green: #143109;
    --sage : #ABAF83;
	/* -------------- */
    --russian-violet: #482358;
    --sagee : #CDC392;
	/* -------------- */
    --dim-gray: #707070;
    --mint_cream : #EAF2EF;
}

.bg-container {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: 
	  linear-gradient(to right, rgba(22, 22, 25, 0.95), rgba(22, 22, 25, 0.95)),
	  url(./assets/bg.jpeg);
	background-position: 0 0, 0 0;
	background-size: auto, 1000px;
	background-blend-mode: multiply;
  }

.bg-box {
	position: relative;
	background-image: 
	  linear-gradient(to right, rgba(66, 49, 44, 0.95), rgba(69, 34, 37, 0.95)), 
	  url(./assets/bg.jpeg);
	background-position: 0 0, 0 0;
	background-size: auto, 900px;
	background-blend-mode: multiply;
}

.background{
	background-image: 
		linear-gradient(to right, #42312c, #452225), 
		url(./assets/bg.jpeg);
	background-size: cover;
	background-position: center;
}